<%- include("header") -%>

    <div class="container">
        <form class="row g-3" action="/addNewPatient" method="post">
            <div class="col-md-4">
                <label for="validationDefault01" class="form-label">Name</label>
                <input type="text" class="form-control" id="validationDefault01" name="name" >
            </div>
            <div class="col-md-6">
                <label for="validationDefault03" class="form-label">Aadhar Number</label>
                <input type="number" class="form-control" id="validationDefault03" name="uniqueID" >
            </div>
            <div class="col-md-6">
                <label for="validationDefault04" class="form-label">Age</label>
                <input type="number" class="form-control" id="validationDefault04" name="age" >
            </div>
            <div class="col-md-3">
                <label for="validationDefault05" class="form-label">Gender</label>
                <select class="form-select" id="validationDefault05" name="gender" >
                    <option selected disabled value="">Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="validationDefault05" class="form-label">Doctor</label>
                <select class="form-select" id="validationDefault05" name="doctor" >
                    <option selected disabled value="">Choose...</option>
                    <option>Doctor-1</option>
                    <option>Doctor-2</option>
                    <option>Doctor-3</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="validationDefault06" class="form-label">Examine Date</label>
                <input type="date" class="form-control" id="validationDefault06" name="date" >
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <%- include("footer") -%>

