<footer>
   

  <section class="footer">
      <div class="social">
          <ul>
              <li class="ad"><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram instagram"></i></a></li>
              <li class="ad"><a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
              <li class="ad"><a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter twitter"></i></a></li>
          </ul>
      </div>
      <br>
      <br>
      
      <ul class="list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/#gallery">Services</a>
        </li>
        <li>
          <a href="/#about">About Us</a>
        </li>
      </ul>
      <p class="copyright">Hospital &copy; <%= new Date().getFullYear() %>
      </p>
  </section>
</footer>
</html>