<%- include("header") -%>
    <div class="container">
        <div class="registration-form-page">
            <div class="container mt-5 mb-5 d-flex justify-content-center">
                <div class="card px-5 py-5" style="max-width: 800px;">
                    <div class="card-body">
                        <center>
                            <h6 class="card-title mb-3 my-appointment-heading" style="font-size: 40px;">Quote a smile
                            </h6>
                        </center>
                        <form action="/appointment" id="book-appointment" method="post">
                            <div class="form-group mb-2">
                                <input class="form-control" type="text" name="name" placeholder="Name" required>
                            </div>

                            <div class="form-group mb-2">
                                <input class="form-control" type="text" name="age" placeholder="Age" required>
                            </div>

                            <div class="form-group mb-2">
                                <select name="gender" id="gender" class="form-control">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <div class="form-group mb-2">
                                <select name="doctor" id="location" class="form-control">
                                    <option value="Doctor-1">Doctor-1</option>
                                    <option value="Doctor-2">Doctor-2</option>
                                    <option value="Doctor-3">Doctor-3</option>
                                </select>
                            </div>

                            <div class="form-group mb-2">
                                <input class="form-control" type="number" name="uniqueID" placeholder="Aadhar number"
                                    required>
                            </div>

                            <div class="form-group mb-2">
                                <input class="form-control" type="text" name="email" placeholder="Email ID" required>
                            </div>
                            <center>
                                <button type="submit" form="book-appointment" class="btn btn-primary btn-block my-3">
                                    Book appointment
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") -%>