<%- include("header") -%>
  <div class="container">

    <div class="service-total">
      <br>

      <br>
      <div class="service-heading">
        <p>Doctor 2</p>
      </div>
      <div class="service-item-image"> <img class="img_1" src="e.jpg" class="d-block w-100" alt="...">
      </div>
      <br>
      <div class="container pb-5">
        <div class="position-relative p-5 m-5 text-center text-muted bg-body border border-dashed rounded-5">
          <h1 class="text-body-emphasis">Dr. DEF</h1>
          <p class="col-lg-6 mx-auto mb-4" style="text-align: left;">
            Specialization: General Practitioner
            Education: M.D. in Medicine, XYZ Medical College <br/>
            Experience: 10 years of medical practice <br/>
            Clinic Hours: Monday to Friday, 9:00 AM - 5:00 PM <br/>
            Contact: Email: doctor@email.com | Phone: +123-456-7890 <br/>
            About: Dr. DEF is a highly experienced general practitioner dedicated to providing comprehensive healthcare  <br/>services to patients of all ages. With a decade of experience, Dr. DEF is committed to promoting overall well-being and  <br/>is known for attentive and personalized care.
          </p>
        </div>
      </div>
    </div>

  </div>
  <%- include("footer") -%>